examples/When Motion Detected then take Photo and Video.json
[
  {
    "id": "75ca5afe43eb940c",
    "type": "Camera Motion",
    "z": "6eeefda59821e437",
    "name": "",
    "config": "df565e0433b24184",
    "x": 100,
    "y": 1500,
    "wires": [
      [
        "a632e786f8558b59"
      ]
    ]
  },
  {
    "id": "1df366507b5d6370",
    "type": "debug",
    "z": "6eeefda59821e437",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 1500,
    "wires": []
  },
  {
    "id": "a632e786f8558b59",
    "type": "switch",
    "z": "6eeefda59821e437",
    "name": "if motion",
    "property": "payload.motion",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 280,
    "y": 1500,
    "wires": [
      [
        "61f3b59f982ba3e1",
        "98c71da20ad1ad9d"
      ],
      []
    ]
  },
  {
    "id": "61f3b59f982ba3e1",
    "type": "Camera",
    "z": "6eeefda59821e437",
    "name": "Record Video",
    "config": "df565e0433b24184",
    "imagetype": "video",
    "x": 480,
    "y": 1460,
    "wires": [
      [
        "1df366507b5d6370"
      ]
    ]
  },
  {
    "id": "98c71da20ad1ad9d",
    "type": "Camera",
    "z": "6eeefda59821e437",
    "name": "Take Picture",
    "config": "df565e0433b24184",
    "imagetype": "photo",
    "x": 470,
    "y": 1540,
    "wires": [
      [
        "1df366507b5d6370"
      ]
    ]
  },
  {
    "id": "df565e0433b24184",
    "type": "ring-config",
    "name": "home",
    "credentials": {}
  }
]